<!DOCTYPE html>
<html lang="en-US">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>pack</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
</head>
 
<body>
    <div>
        <div id="status"></div>
        <div id="progress">
            <div id="completed"></div>
            <label for="file_input" id="drop">
                <input type="file" id="file_input" hidden>
                <p>Drag and drop or click here<br>to upload images</p>
                <span> Upload any images from desktop</span>
            </label>
        </div>
        <div id="pic">
            <canvas id='output'></canvas>
        </div>
    </div>
    <a href="Renders/cubemap_0.png" hidden download class="downloads"></a>
    <a href="Renders/cubemap_1.png" hidden download class="downloads"></a>
    <a href="Renders/cubemap_2.png" hidden download class="downloads"></a>
    <a href="Renders/cubemap_3.png" hidden download class="downloads"></a>
    <a href="Renders/cubemap_4.png" hidden download class="downloads"></a>
    <a href="Renders/cubemap_5.png" hidden download class="downloads"></a>
</body>
<script src="{{ url_for('static', filename='script.js') }}">
</script>
 
</html>